.contents_area
{
    padding: 0 10%;
    margin-top: 2rem;
}

a
{
    text-decoration: none;
}

:root
{
    --main-color: #445964;
    --dark-gray: #263138;
    --logo-background: #343434;
    --soft-gray: #e9e9e9;
    --btn: #515151;
    --comment-item: #18A0FB;
}

.border-box
{
    border: none;
    border-radius: 10px;
    background: var(--dark-gray);
    color: white;
}